@import url('https://rsms.me/inter/inter.css');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Inter UI', sans-serif;
  line-height: 1.72;
}
section {
  position: relative;
  width: 100%;
  padding: 10vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section.gray {
  background-color: #f7f7f7;
}
section.fullsize {
  height: 100vh;
}
section .inner {
  width: 100%;
  max-width: 700px;
  padding: 40px;
  text-align: center;
}
section .left {
  grid-column: 1;
}
section .right {
  grid-column: 2;
}
section .both {
  grid-column: 1 / -1;
}
section .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: var(--gutter, 60px);
  padding: 0 var(--gutter, 60px);
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 76vh;
}
section .grid .img-holder {
  width: 100%;
  height: 100%;
}
section .grid .img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
section .grid-large {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 100%;
  grid-gap: var(--gutter, 60px);
  padding: 0 var(--gutter, 60px);
  max-width: 1100px;
}
section .grid-large dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
}
section .grid-large dl dt {
  grid-column: 1;
}
section .grid-large dl dd {
  grid-column: 2;
}
h1 {
  font-size: 70px;
  letter-spacing: -0.02em;
  font-weight: 800;
  margin: 0;
}
.title {
  display: block;
  font-size: 50px;
  letter-spacing: -0.02em;
  font-weight: 800;
  margin: 0;
}
h2,
.h2 {
  margin: 0;
  font-family: 'Roboto', 'Inter UI', sans-serif;
  font-weight: 300;
  color: #777;
}
h3,
.h3 {
  margin: 0;
  font-size: 24px;
  font-family: 'Roboto', 'Inter UI', sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
}
h3 b,
.h3 b {
  font-weight: 900;
}
h3 ~ p,
.h3 ~ p,
h4 ~ p,
.h4 ~ p,
h5 ~ p,
.h5 ~ p {
  font-size: 14px;
  line-height: 2;
  color: rgba(0, 0, 0, 0.5);
}
a {
  color: #ffa519;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.btn {
  display: inline-block;
  padding: 8px 22px;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  color: #ffa519;
  background: rgba(255, 165, 25, 0.1);
  transition: all .2s ease;
}
.btn:hover {
  background-color: rgba(255, 165, 25, 0.14);
}
.btn.primary {
  color: #fff;
  background-color: #ffa519;
}
.btn.primary:hover {
  background-color: #ffaf33;
}
.btn.transparent {
  color: #ffa519;
  background: transparent;
  padding-left: 11px;
  padding-right: 11px;
}
.btn.transparent:hover {
  background-color: transparent;
}
.btn.trigger-animation:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  margin-right: 10px;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #ffa519;
}
.spacer {
  margin-top: 25px;
}
.spacer-large {
  margin-top: 50px;
}
code.inline {
  padding: 4px 7px;
  border-radius: 4px;
  background-color: #e8e8e8;
  color: #000;
  font-size: 13px;
}
code.block {
  display: block;
  position: relative;
  padding: 10px 18px;
  border-radius: 4px;
  background-color: #e2e1e1;
}
code#code-example {
  margin-top: 30px;
  background: none;
}
pre {
  white-space: unset;
  margin: 0;
}
pre + pre {
  margin-top: 10px;
}
#tutorial {
  margin: 0 auto 50px;
}
#tutorial * {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
#tutorial *:nth-child(4) {
  background-color: #ffa519;
}
#tutorial *:nth-child(3) {
  background-color: rgba(255, 165, 25, 0.75);
}
#tutorial *:nth-child(2) {
  background-color: rgba(255, 165, 25, 0.5);
}
#tutorial *:nth-child(1) {
  background-color: rgba(255, 165, 25, 0.25);
}
#tutorial *.circle {
  border-radius: 100%;
}
.download {
  position: fixed;
  top: 30px;
  right: 40px;
}
.download .helper {
  display: block;
  margin-top: 15px;
}
.download .helper a {
  font-size: 12px;
  color: #777;
}
#example-sequence {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px;
  grid-gap: 10px;
}
#example-sequence > div {
  background-color: #ccc;
}
#documentation .grid-large {
  height: 100%;
  align-content: flex-start;
}
#documentation .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: var(--gutter, 60px);
}
#documentation .separator {
  border-top: 1px solid #e2e1e1;
  padding-top: var(--gutter, 60px);
}
