@import url('https://rsms.me/inter/inter.css');

@accent-color: #ff9700;

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Inter UI', sans-serif;
  line-height: 1.72;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .inner {
    width: 100%;
    max-width: 700px;
    padding: 40px;
    text-align: center;
  }
}

h1 {
  font-size: 70px;
  letter-spacing: -0.02em;
  font-weight: 800;
  margin: 0;
}

h2 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #777;
}

.download {
  margin: 20px auto 40px;
  display: inline-block;
  padding: 10px 26px;
  font-weight: 500;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #eee;
}