@import url('https://rsms.me/inter/inter.css');

@accent-color: #ffa519;
@gray: #f7f7f7;

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Inter UI', sans-serif;
  line-height: 1.72;
}

section {
  position: relative;
  width: 100%;
  padding: 10vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &.gray {
    background-color: @gray;
  }
  &.fullsize {
    height: 100vh;
  }

  .inner {
    width: 100%;
    max-width: 700px;
    padding: 40px;
    text-align: center;
  }
  .scroll {
    position: absolute;
    bottom: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 60px;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 76vh;
    padding: 0 60px;

    .left {
      grid-column: 1;
    }
    .right {
      grid-column: 2;
    }
    .img-holder {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

h1 {
  font-size: 70px;
  letter-spacing: -0.02em;
  font-weight: 800;
  margin: 0;
}

.title {
  display: block;
  font-size: 50px;
  letter-spacing: -0.02em;
  font-weight: 800;
  margin: 0;
}

h2, .h2 {
  margin: 0;
  font-family: 'Roboto', 'Inter UI', sans-serif;
  font-weight: 300;
  color: #777;
}

h3, .h3 {
  margin: 0;
  font-size: 24px;
  font-family: 'Roboto', 'Inter UI', sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;

  ~ p {
    font-size: 14px;
    line-height: 2;
    color: fade(#000, 50);
  }
  b {
    font-weight: 900;
  }
}

a {
  color: @accent-color;
  font-size: 14px;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 8px 22px;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  color: @accent-color;
  background: fade(@accent-color, 10);

  &.primary {
    color: #fff;
    background-color: @accent-color;
  }
  &.trigger-animation {
    &:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      margin-right: 10px;
      border-width: 5px 0 5px 8px;
      border-color: transparent transparent transparent @accent-color;
    }
  }
}

.download {
  margin: 40px auto 20px;
}

.spacer {
  margin-top: 25px;
}

.spacer-large {
  margin-top: 50px;
}