@import url('https://rsms.me/inter/inter.css');

@accent-color: #ffa519;
@gray: #f7f7f7;

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Inter UI', sans-serif;
  line-height: 1.72;
}

section {
  position: relative;
  width: 100%;
  padding: 10vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &.gray {
    background-color: @gray;
  }
  &.fullsize {
    height: 100vh;
  }

  .inner {
    width: 100%;
    max-width: 700px;
    padding: 40px;
    text-align: center;
  }

  .left   { grid-column: 1; }
  .right  { grid-column: 2; }
  .both   { grid-column: ~'1 / -1'; }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: var(--gutter, 60px);
    padding: 0 var(--gutter, 60px);
    width: 100%;
    max-width: 1100px;
    height: 100%;
    max-height: 76vh;

    .img-holder {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .grid-large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 100%;
    grid-gap: var(--gutter, 60px);
    padding: 0 var(--gutter, 60px);
    max-width: 1100px;

    dl {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column: ~'1 / -1';

      dt {
        grid-column: 1;
      }
      dd {
        grid-column: 2;
      }
    }
  }
}

h1 {
  font-size: 70px;
  letter-spacing: -0.02em;
  font-weight: 800;
  margin: 0;
}

.title {
  display: block;
  font-size: 50px;
  letter-spacing: -0.02em;
  font-weight: 800;
  margin: 0;
}

h2, .h2 {
  margin: 0;
  font-family: 'Roboto', 'Inter UI', sans-serif;
  font-weight: 300;
  color: #777;
}

h3, .h3 {
  margin: 0;
  font-size: 24px;
  font-family: 'Roboto', 'Inter UI', sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;

  b {
    font-weight: 900;
  }
}

h3, .h3,
h4, .h4,
h5, .h5 {
  ~ p {
    font-size: 14px;
    line-height: 2;
    color: fade(#000, 50);
  }
}

a {
  color: @accent-color;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  padding: 8px 22px;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  color: @accent-color;
  background: fade(@accent-color, 10);
  transition: all .2s ease;

  &:hover {
    background-color: fade(@accent-color, 14);
  }

  &.primary {
    color: #fff;
    background-color: @accent-color;

    &:hover {
      background-color: lighten(@accent-color, 5%);
    }
  }
  &.transparent {
    color: @accent-color;
    background: transparent;
    padding-left: 11px;
    padding-right: 11px;

    &:hover {
      background-color: transparent;
    }
  }
  &.trigger-animation {
    &:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      margin-right: 10px;
      border-width: 5px 0 5px 8px;
      border-color: transparent transparent transparent @accent-color;
    }
  }
}

.spacer {
  margin-top: 25px;
}

.spacer-large {
  margin-top: 50px;
}

code {
  &.inline {
    padding: 4px 7px;
    border-radius: 4px;
    background-color: #e8e8e8;
    color: #000;
    font-size: 13px;
  }
  &.block {
    display: block;
    position: relative;
    padding: 10px 18px;
    border-radius: 4px;
    background-color: #e2e1e1;
  }
  &#code-example {
    margin-top: 30px;
    background: none;
  }
}

pre {
  white-space: unset;
  margin: 0;

  + pre {
    margin-top: 10px;
  }
}

#tutorial {
  margin: 0 auto 50px;

  * {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;

    &:nth-child(4) { background-color: @accent-color; }
    &:nth-child(3) { background-color: fade(@accent-color, 75); }
    &:nth-child(2) { background-color: fade(@accent-color, 50); }
    &:nth-child(1) { background-color: fade(@accent-color, 25); }

    &.circle {
      border-radius: 100%;
    }
  }
}

.download {
  position: fixed;
  top: 30px;
  right: 40px;

  .helper {
    display: block;
    margin-top: 15px;

    a {
      font-size: 12px;
      color: #777;
    }
  }
}

#example-sequence {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px;
  grid-gap: 10px;

  > div {
    background-color: #ccc;
  }
}

#documentation {
  .grid-large {
    height: 100%;
    align-content: flex-start;
  }
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: var(--gutter, 60px);
  }
  .separator {
    border-top: 1px solid #e2e1e1;
    padding-top: var(--gutter, 60px);
  }
}